.navbar-brand img {
  height: 45px !important;
}

.login-school-img {
  height: 100px !important;
}

.issue-form-margin {
  margin-top: 5rem !important;
}

.all-cert-margin {
  margin-top: 0rem !important;
}

.mt--11 {
  margin-top: -11rem !important;
}

.mt--36 {
  margin-top: -36rem !important;
}

.bg-beige {
  background-color: beige !important;
}

.degree-container {
  margin: 0 auto;
  text-align: center;
}

.degree-box {
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}

.degree-box h1 {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  right: 0;
  text-align: center;
  /* width: 68%; /* Set the width of the positioned div */
  font-size: 1rem;
}

.degree-box .rollnumber {
  left: -54%;
  top: -13%; /* Adjust this value to move the positioned div up and down */
}

.degree-box .name {
  left: -33%;
  top: 35%;
}

.degree-box .fathers-name {
  left: -33%;
  top: 39%;
}

.degree-box .graduation-left {
  top: 60.5%;
  left: -39%;
  font-size: 0.9rem;
}

.degree-box .graduation-right {
  top: 60.5%;
  left: -4%;
  font-size: 0.9rem;
}

.degree-box .grad-class {
  top: 63.5%;
  left: -20%;
}

.degree-image {
  margin-top: -6rem !important;
}

@media (min-width: 1000px) {
  .issue-form-margin {
    margin-top: -34.5rem !important;
  }
  .all-cert-margin {
    margin-top: -27rem !important;
  }
  .degree-image {
    margin-top: -18rem !important;
  }
}

@media (min-width: 1300px) {
  .issue-form-margin {
    margin-top: -35rem !important;
  }
  .all-cert-margin {
    margin-top: -32rem !important;
  }
  .degree-image {
    margin-top: -11rem !important;
  }
}
@media (min-width: 1600px) {
  .issue-form-margin {
    margin-top: -35rem !important;
  }
  .all-cert-margin {
    margin-top: -37rem !important;
  }
  .degree-image {
    margin-top: -6rem !important;
  }
}
@media (min-width: 1900px) {
  .issue-form-margin {
    margin-top: -40rem !important;
  }
  .all-cert-margin {
    margin-top: -45rem !important;
  }
  .degree-image {
    margin-top: 0rem !important;
  }
}

#myLoader {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  text-align: center;
}

#loader-image {
  width: 20%;
  transform: scale(1.5);
  margin-top: 40vh;
  padding: 20px;
  background: aliceblue;
  border-radius: 0% 50%;
  opacity: 1;
  animation: pulse 1.3s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
