.navbar-brand img {
  height: 45px !important;
}

.login-school-img {
  height: 100px !important;
}

.issue-form-margin {
  margin-top: 0rem !important;
}

.all-cert-margin {
  margin-top: 0rem !important;
}

.mt--11 {
  margin-top: -11rem !important;
}

.mt--36 {
  margin-top: -36rem !important;
}

.bg-beige {
  background-color: beige !important;
}

@media (min-width: 1000px) {
  .issue-form-margin {
    margin-top: -29.5rem !important;
  }
  .all-cert-margin {
    margin-top: -27rem !important;
  }
}

@media (min-width: 1300px) {
  .issue-form-margin {
    margin-top: -30rem !important;
  }
  .all-cert-margin {
    margin-top: -32rem !important;
  }
}
@media (min-width: 1600px) {
  .issue-form-margin {
    margin-top: -30rem !important;
  }
  .all-cert-margin {
    margin-top: -37rem !important;
  }
}
@media (min-width: 1900px) {
  .issue-form-margin {
    margin-top: -35rem !important;
  }
  .all-cert-margin {
    margin-top: -45rem !important;
  }
}
